# Assignment 1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* -> Expressions (Multiple)   
'hello' - > string
-87.8 -> Values (Float)
- -> Expression (Subtract)
/ -> Expression (Divide)
+ -> Expression (Adding)
6 -> Values (Integer)

In [55]:
6
type(6)

int

In [58]:
4+9

13

In [59]:
a=10/20
a

0.5

In [60]:
b='hello'
type(b)

str

In [61]:
a=-87.8
type(a)

float

In [62]:
c=1*1
c

1

In [ ]:
2. What is the difference between string and variable?
String: String ia a list of characters.  Its can be single word or the sentence. It can be in single, double or triple quotes. 
    ex: 'Hello'
        "Hi I am Ramesh"
        """Hi all good here"""
    
Variable: Variable is something which holds the value. 
    ex: A = 10, where A is the variable holding int data
        B = 'Hi' where B is the variable holding str data

In [65]:
'Hello'

'Hello'

In [66]:
"Hi I am Ramesh"

'Hi I am Ramesh'

In [67]:
"""Hi all good here"""

'Hi all good here'

In [ ]:
3. Describe three different data types.

1. Integer: Intergers can be used to represent numbers. These can be both positive or negative values. 
2. Float :  Float also used to represent numbers with decimal values. 
3. Boolean: Boolean is built-in logical data type that is mainly used for checking if the logic is True or False.

In [70]:
-23
type(-23)

int

In [71]:
s=56.08907874621
type(s)

float

In [72]:
type(True)

bool

In [ ]:
4. What is an expression made up of? What do all expressions do?
   Expressions are representaions of value. All kind of mathematical operators are know as expressions. 
    Ex: + , - , * , / , << , >> , & , ==.

In [ ]:
5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expression are representaion of values with mathematical operators. Statement is like command which get executed, like print function.

In [ ]:
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Variable bacon will contain: 22, result will contain bacon+1 which is 23.

In [68]:
bacon = 22
bacon + 1

23

In [69]:
bacon = 22
bacon + 1
print(bacon)

22

In [54]:
7. What should the values of the following two terms be?
'spam' + 'Spamspam' -> 'spamSpamspam'
'spam'*3 -> 'spamspamspam'

22

In [73]:
'spam' + 'Spamspam'

'spamSpamspam'

In [74]:
'spam'*3

'spamspamspam'

In [22]:
8. Why is eggs a valid variable name while 100 is invalid?
   variable names cannot start with interger.

13

In [76]:
eggs = "ramesh"
eggs

'ramesh'

In [80]:
100 = " ramesh"

SyntaxError: cannot assign to literal (Temp/ipykernel_7456/1003113945.py, line 1)

In [5]:
9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

int(), float(), str()

float

In [81]:
int(5)

5

In [82]:
float(98.09)

98.09

In [83]:
str("Ramesh")

'Ramesh'

In [ ]:
10. Why does this expression cause an error? How can you fix it?
'I have eaten'+ 99 + 'burritos.'

We cannot contenate Int.so we get an error in the code. 

Changes to make in the code. 'I have eaten'+ str(99) + 'burritos.' in this we see all are type str so we can concatenate and get result. 
'I have eaten99burritos.'

In [84]:
'I have eaten'+ 99 + 'burritos.'

TypeError: can only concatenate str (not "int") to str

In [85]:
'I have eaten'+ str(99) + 'burritos.'

'I have eaten99burritos.'